.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 15px 15px 15px;
  flex: 1;

  &__title {

    p {
      color: #1D1D1D;
      font-family: Prosto One;
      font-size: 30px;
      text-transform: capitalize;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    transition: all .1s ease-out;
  }

  &__animation {
    margin: 13px 0 18px 0;
    width: 100%;

    img {
      border-radius: 48px;
      width: 100%;
    }
  }
}

.cardsDop {
  flex-direction: row-reverse
}


//media

@media screen and (max-width: 400px) {

  .list__cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}


