.hookahElement {
  position: relative;
  min-height: 541px;
  border: 2px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 23px;
  padding: 12px;

  &_image {
    position: absolute;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    top: 12px;
    left: 12px;
    z-index: 0;
  }

  &_desc {
    z-index: 1;

    &_subtitle {
      margin: 2px 19px 26px 19px;
    }

    &_item {
      display: flex;
      align-items: center;
      margin-top: 14px;

      p {
        color: #FFF;
        font-size: 25px;
        margin-left: 17px;
        cursor: pointer;
      }

      img {
        height: 14px;
        width: 59px;
      }
    }

    &_item-active{
      p{
        color: #FF00A2;
      }

    }

    &_linck {
      z-index: 1;
      cursor: pointer;
      margin: 36px 19px 0 19px;
    }
  }

  &_price {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 19px 44px 19px;
  }

  .basketButton {
    z-index: 1;
  }
}


//media

@media screen and (max-width: 400px) {
  .hookahElement {
    background-size: cover;
  }
}

@media screen and (max-width: 370px) {
  .hookahElement_price button {
    margin-left: 20px;
  }

  .hookahElement_desc_item p {
    font-size: 18px;
  }

  .hookahElement {
    min-height: 480px;
  }
}

